/*GALLERY*/

.gallery-links h2 {
  font-family: Catamaran;
  font-size: 28px;
  font-weight: 600;
  color: #111;
  text-transform: uppercase;
}

.gallery-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.gallery-container a {
  width: 230px;
  margin: 20px 10px 0;
}

.gallery-container a:hover {
  opacity: 0.8;
}

.gallery-container a div {
  width: 100%;
  height: 235px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery-container a h3 {
  font-family: Catamaran;
  font-size: 20px;
  font-weight: 700;
  color: #111;
  padding-top: 16px;
  line-height: 26px;
}

.gallery-container a p {
  font-family: Catamaran;
  font-size: 16px;
  font-weight: 400;
  color: #111;
  padding-top: 4px;
  line-height: 20px;
}

.gallery-upload {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color:  rgb(240,235,217);
}

.gallery-upload h2 {
  font-family: Catamaran;
  font-size: 28px;
  font-weight: 600;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 10px;
}

.gallery-upload form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.gallery-upload form input {
  width: 200px;
  height: 30px;
  margin-top: 10px;
  padding: 0 15px;
  border-radius: 100px;
  box-shadow: none;
  border: 1px solid #ccc;
}

.gallery-upload-file-input {
  padding-top: 8px !important;
  background-color: #fefefe;
}

.gallery-upload form button {
  width: 120px;
  height: 30px;
  margin-top: 10px;
  border-radius: 100px;
  box-shadow: none;
  border: none;
  background-color: #4EADFF;
  color: #fff;
  font-weight: 700;
}
