/* #d0ab6d
golden
#8aa936
light green
#476b31
dark green
#221f21
black
font-family: 'Josefin Sans', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Ubuntu', sans-serif; */
* {
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgb(240, 235, 217);
  z-index: 0;
  scroll-behavior: smooth;
}

body {
  height: 100;
}

h1 {
  font-family: 'Cinzel', serif;
}

h2 {
  font-family: 'Cinzel', serif;
}

h3 {}

p {
  font-family: 'Josefin Sans', sans-serif;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: lighter;
}

/* .logo
{
  background-image:url(logo.PNG);
} */
.header {
  width: 100%;
  height: 597px;
  background: url(Schoolbuilding.png) no-repeat 50% 50%;
  background-size: cover;
  padding: 0;
  position: relative;
  top: 76px;
  background-attachment: fixed;
}

.header h1 {
  text-align: center;
  position: relative;
  top: 20%;
  color: black;
}

.header h2 {
  text-align: center;
  position: relative;
  top: 19%;
  color: black;
}

.header .logo_school {
  position: relative;
  bottom: 0;
  top: 19%;
  display: block;
  margin: 0% 42%;
  /* left: 42%; */
  height: 300px;
  width: 240px;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
  /* left: 34%; */
  padding: 1% 30%;
  display: inline-block;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

nav ul {
  line-height: 60px;
  list-style: none;
  overflow: hidden;
  background-color: #476b31;
  padding: 0;
  text-align: center;
  margin: 0;
  transition: 1s;
  width: auto;
}

nav.black ul {
  background: white;
}

nav.black ul li a {
  color: #476b31;
}

.container-fluid {
  padding: 0;
}

.logo-black {
  position: relative;
  bottom: 0;
  top: 1%;
  display: block;
  left: 46%;
  height: 163px;
  width: 129px;
}

nav ul li {
  display: inline-block;
  padding: 0px 2%;
}

nav ul li:hover {
  display: inline-block;
  padding: 0px 2%;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 90%;
  font-family: 'Josefin Sans', sans-serif;
}

nav ul li a:hover {
  text-decoration: none;
  color: #d0ab6d;
  font-size: 100%;
  font-family: 'Josefin Sans', sans-serif;
  transition: 0.5s;
}

.book-for-admissions {
  position: relative;
  left: 25%;
  width: 48%;
  margin: 0;
  background-color: #d0ab6d;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  z-index: 4;
  color: black;
  font-family: 'Cinzel', serif;
  font-size: 100%;
  border-color: #d0ab6d;
  display: inherit;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  /* padding: 15px 24px; */
  cursor: pointer;
  color: #fff;
  display: none;
}

/* SUHAIB STARTS HERE */
.bahrain {
  background-color: #4F7942;
  height: fit-content;
  width: 70%;
  padding: 2% 2% 2% 2%;
  position: relative;
  left: 15%;
  top: 25%;
  border-radius: 5%;
  padding-top: 2%;
  font-family: 'PT Sans', sans-serif;
  font-size: 40px;
  /* display: inline; */
  text-align: center
}

.bahrain h1 {
  color: #d7bf99;
  position: relative;
  top: 0;
}

.bahrain p {
  font-size: 25px;
  color: white;
}

.gallery-nav {
  padding-left: 115px;
}

h1.gallery_text {
  position: relative;
  top: 37%;
  text-align: center;
}

/* SUHAIB ENDS HERE */
@media(max-width: 1134px) {
  .header {
    height: 1000px;
    background-position-x: -1329px;
    background-position-y: -317px;
  }

  nav {
    width: 100%;
    left: 0;
    padding: 0;
  }

  nav.black {
    top: -60px;
  }

  nav ul {
    max-height: 0px;
    background: #8aa936;
    width: 100%;
  }

  nav.black ul {
    background: #000;
  }

  nav.black ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0;
  }

  nav ul>.dropdown {
    display: contents;
    margin-left: 0;
    position: relative;
  }

  nav.black button {
    top: 15px;
  }

  .showing {
    max-height: 54em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    /* padding: 24px; */
    text-align: center;
  }

  nav ul li>.gallery-nav {
    padding: 0;
  }

  .menu-icon {
    display: inline-block;
    padding: 0;
  }

  /* .admissions.black{
top: 0;
  } */
  .header .logo_school {
    /* left: 36%; */
    margin: 0% 38%;
  }

  .header h1 {
    font-size: 1.5rem;
  }

  .header h2 {
    font-size: 1rem;
  }

  .bahrain {
    height: fit-content;
  }

  .bahrain p {
    width: 100%;
    padding: 0;
  }

  .card-body .fa {
    font-size: 2rem;
    padding: 6% 2%;
  }
}

.main {
  background-size: cover;
  background-position: center;
}

.ziyad {
  background-color: #8aa936;
}

#main {
  background-color: #8aa936;
}

#stats {
  background-color: #476b31;
}

#cont {
  padding-top: 10px;
  background-color: #8aa936;
}

.acts {
  background-color: #476b31;
  padding-bottom: 10px;
  position: relative;
  top: 40%;
}

.acts h1 {
  padding-top: 30px;
  text-align: center;
  font-size: 40px;
  color: #d7bf99;
}

.btn-primary {
  background-color: #476b31;
  font-family: 'Josefin Sans', sans-serif;
}

.btn a:hover {
  font-size: 1.2rem;
  text-decoration: none;
}

.counter-section {
  color: #ffff;
}

.icon-box {
  border: 1px solid #ffff;
  height: 85px;
  width: 85px;
  margin: 20px auto;
  transform: rotate(45deg);
}

.contact {
  text-align: center;
  color: #ffff;
}

#map {
  height: 500px;
  width: 100%;
}

.counter-box p {
  font-size: 30px;
}

.counter-box .counter {
  font-size: 50px;
}

.icon-box .fa {
  font-size: 40px;
  margin: 20px auto;
  color: #ffc800;
  transform: rotate(-45deg);
}

.back1 {
  background: url(p.jpg);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position-x: 0;
}

.swiper-la-tasrikh {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40%;
  position: relative;
  top: 35%;
  z-index: 0;
}

.swiper-container {
  width: 100%;
  padding-top: 0;
  padding-bottom: 100px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 350px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #00000026);
}

.img {
  height: 300px;
  width: 500px;
}

.details {
  color: bla;
  text-align: center;
}

.details h3 {
  font-size: 30px;
}

.details h3 span {
  font-size: 20px
}

.hoe {
  text-align: center;
  height: fit-content;
  width: fit-content;
}

/* MAP */
.mapouter {
  position: relative;
  text-align: center;
  height: 290px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 88%;
  width: 100%;
}

#gmap_canvas {
  height: 100%;
  width: 100%;
}

.card-title {
  text-align: center;
  font-size: 2rem;
  color: #d0ab6d;
  font-family: 'Cinzel', serif;
}

.row {
  position: relative;
  top: 40%;
  margin-right: 0;
  margin-left: 0;
  padding: 1%
}

.col-sm-6 {
  padding-bottom: 2%
}

.col-md-6 {
  padding-bottom: 2%
}

.card-body .fa {
  font-size: 4rem;
  padding: 1% 3%;
color: rgb(240, 235, 217);
}

.btn {
  padding: 1% 6%;
  margin-top: 1%;
}

/* .fa-instagram {
  color: #DD2A7B;
}

.fa-whatsapp {
  color: #4FCE5D;
}

.fa-facebook {
  color: ;
} */
.card-body .fa:hover {
  font-size: 4.5rem;
  transition: 1s;
}

.card-body {
  text-align: center;
}

form h5 {
  text-align: center;
  font-size: 2rem;
  font-family: 'Josefin Sans', sans-serif;
  color: black;
}
.loco{
  text-align: center;
  font-size: 2rem;
  font-family: 'Josefin Sans', sans-serif;
  color: black;
}

form {
  /* background-color: white;
  border: 1px solid rgba(0, 0, 0, .125); */
  padding: 1.25rem;
  height: 100%;
}

.form-control {
  border-radius: 100px;
}

form-row {
  padding: 1%;
}

.enquiry {
  margin-right: 0;
  margin-left: 0;
}

.form-content {
  border-radius: 100px;
}

a h5 {
  height: max-content;
  display: block;
  padding: 2%;
  color: black;
}

.card {
  height: 100%;
  background-color: #ffffff00;
  border: none;
}

a.hideDisplay {
  position: relative;
  z-index: 20;
  color: #000;
  text-decoration: none
}

a.hideDisplay:hover {
  z-index: 30;
}

a.hideDisplay span.showDisplayOnHover {
  display: none
}

a.hideDisplay:hover span.showDisplayOnHover {
  display: block;
  position: absolute;
  font-size: 2rem;
  line-height: 40px;
  top: 165%;
  right: 55%;
  width: 300px;
  padding: 5%;
  border: 4px solid rgba(0, 0, 0, .125);
  background-color: #ffc107;
  color: #000000;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 20px;
}

.dropdown {
  position: absolute;
  display: inline-block;
  margin-left: 70px;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 5;
  transition: all .5s ease;
  background-color: #476b31;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
}

.dropdown-content a:hover {
  text-decoration: none;
  color: #d0ab6d;
  font-size: 100%;
  font-family: 'Josefin Sans', sans-serif;
  transition: 0.5s;
}

.dropdown:hover .dropdown-content {
  display: block;
  transform: translateY(0);
}

#cont {
  background-color: #476b31;
  color: white;
}

.foot {
  font-size: 1.2rem;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  padding: 1% 36%;
  border-top: 4px solid #d0ab6d;
  margin: 0;
  position: relative;
  top: 40%;
}
